<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="/products/findProducts">
            <label>
                title: <input type="text" name="title">
            </label>
            <label>
                count: <input type="text" name="count">
            </label>
            <label>
                weight: <input type="text" name="weight">
            </label>
            <label>
                color: <input type="text" name="color">
            </label>
            <button>find</button>
        </form>
    </div>
</body>
</html>